.container{
    width: 40%;
    margin-top: 50px;
    background-color: rgb(238, 236, 238);
    border: none;
    padding: 30px;
    border-radius: 2px;
    /* text-align: center; */
}
.list-items{
    display: flex;
}
.list-items .list-items-list{
    flex:1;    
}
.list-item-icons{
    cursor: pointer;
}
#list-item{
    text-decoration: line-through;
    opacity: 0.3;
}